
*.xcbkptlist

dental/dental.xcodeproj/xcuserdata/spj.xcuserdatad/xcdebugger/Breakpoints_v2.xcbkptlist

*.xcuserstate
dental/.DS_Store
dental/dental.xcodeproj/xcuserdata/nguyenpt.xcuserdatad/xcschemes/xcschememanagement.plist
dental/dental/.DS_Store
dental/dental/G01/.DS_Store
dental/dental/Images/.DS_Store
