
*.xcbkptlist

dental/dental.xcodeproj/xcuserdata/spj.xcuserdatad/xcdebugger/Breakpoints_v2.xcbkptlist

*.xcuserstate
dental/.DS_Store
dental/dental.xcodeproj/xcuserdata/nguyenpt.xcuserdatad/xcschemes/xcschememanagement.plist
dental/dental/.DS_Store
dental/dental/G01/.DS_Store
dental/dental/Images/.DS_Store
dental/dental/G01/F00/.DS_Store
dental/dental/G01/F03/.DS_Store
*.svn-base
dental/app/src/main/res/drawable-hdpi/.svn/entries
dental/app/src/main/res/drawable-hdpi/.svn/all-wcprops
dental/app/src/main/res/drawable-xxhdpi/.svn/all-wcprops
dental/app/src/main/res/drawable-xxhdpi/.svn/entries
